<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xieke.test.tyqxcms.mapper.ClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xieke.test.tyqxcms.entity.Client">
        <id column="id" property="id" />
        <result column="client_name" property="clientName" />
        <result column="client_id" property="clientId" />
        <result column="client_secret" property="clientSecret" />
    </resultMap>

</mapper>
